CAD/ondroid-00/ondroid_00.step filter=lfs diff=lfs merge=lfs -text
/CAD/ondroid-00/ondroid_00.step filter=lfs diff=lfs merge=lfs -text
*.step filter=lfs diff=lfs merge=lfs -text
*.FCStd filter=lfs diff=lfs merge=lfs -text
